@model Windshield.ViewModels.ManageProfileViewModel


@using (Html.BeginForm("ChangeUserDetail", "Account")) 
{
<form class="form-horizontal">
	@Html.AntiForgeryToken()

    <fieldset>
        <legend>Change User Information</legend>
        <div class="control-group">
            <div class="control-label">
                Name
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.name, new { Value = Model.currentUserModel.UserDetail.name })
            </div>
            <div class="control-label">
				E-mail
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.email, new { Value = Model.currentUserModel.UserDetail.email })
            </div>
            <div class="control-label">
                Gender
			</div>
			<div class="controls">
                @Html.DropDownListFor(m => m.changeUserDetailsModel.gender, new SelectList(new List<Object> { new { Value = true , text = "KK" }, new { Value = false, text = "KVK" } }, "Value", "text", Model.currentUserModel.UserDetail.gender))
            </div>
            <div class="control-label">
				Age
			</div>
			<div class="controls">
				@Html.TextBoxFor(m => m.changeUserDetailsModel.age, new { Value = Model.currentUserModel.UserDetail.age })
            </div>
            <div class="control-label">
                Country
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.country, new { Value = Model.currentUserModel.UserDetail.country })
            </div>
            <div class="control-label">
                Occupation
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.occupation, new { Value = Model.currentUserModel.UserDetail.occupation })
            </div>
            <div class="control-label">
                Date joined
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.dateJoined, new { Value = Model.currentUserModel.UserDetail.dateJoined, @readonly="readonly" })
            </div>
            <div class="control-label">
                User Rating
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.userRating, new { Value = Model.currentUserModel.UserDetail.userRating, @readonly="readonly"  })
            </div>
        </div>
		<div class="control-group">
			<input type="submit" class="btn" value="Change user details" />
			@Html.ActionLink("Cancel", "Index", new { controller = "Home" }, new { @class = "btn" })
		</div>
    </fieldset>
	</form>
}
