@model Windshield.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm()) {
	<form class="form-horizontal">
		<legend>Change Password</legend>
		@Html.AntiForgeryToken()
		@Html.ValidationSummary()
		<p>
			<small>Passwords must be at least @Membership.MinRequiredPasswordLength characters long.</small>
		</p>
		<div class="control-group">

			<div class="control-label">
				@Html.LabelFor(m => m.OldPassword)
			</div>
			<div class="controls">
				@Html.PasswordFor(m => m.OldPassword)            
			</div>

			<div class="control-label">
				@Html.LabelFor(m => m.NewPassword)
			</div>
			<div class="controls">
				@Html.PasswordFor(m => m.NewPassword)            
			</div>

			<div class="control-label">
				@Html.LabelFor(m => m.ConfirmPassword)
			</div>
			<div class="controls">
				@Html.PasswordFor(m => m.ConfirmPassword)            
			</div>

		</div>
		<div class="control-group">
			<input type="submit" class="btn" value="Change password" />
			<button class="btn"><a href="@Html.ActionLink("Home", "About", "Home")"></a>Cancel</button>
		</div>

		<legend>Upload photo</legend>
		<div class="control-group">
		<div class="fileupload fileupload-new" data-provides="fileupload">
			<div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
		<div>
			<span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
			<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
		</div>
		</div>
		</div>

		<legend>Description</legend>
		<div class="control-group">
			<textarea rows="3" cols="20"></textarea>
		</div>
	</form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}