@model Windshield.Common.CardDeck

@{
	//ViewBag.Title = "Card animations";
}
<script src="@Url.Content("~/Scripts/Card.js")" type="text/javascript"></script>
		
	<div class="span8">
			<div id="felt">
			
			@{
				int i = 1;
					foreach(var card in Model)
					{
						if(card.face > 1 && card.face <= 10)
						{
						//give each card in our deck a unique identity
						<div id="card_@i" class="cardback rank_@card.face @card.suit"> <span class="spanDisplay" style="display:none;"> @card.face   </span> </div>
						}
						
						else
						{
							switch (card.face)
							{
								case (1):
									<div id="card_@i" class="cardback rank_@card.face @card.suit"> <span class="spanDisplay" style="display:none;"> A  </span> </div>
									break;
								case (11):
									<div id="card_@i" class="cardback rank_@card.face @card.suit"> <span class="spanDisplay" style="display:none;"> J  </span> </div>	
									break;
								case (12):
									<div id="card_@i" class="cardback rank_@card.face @card.suit"> <span class="spanDisplay" style="display:none;"> Q  </span> </div>	
									break;
								case (13):
									<div id="card_@i" class="cardback rank_@card.face @card.suit"> <span class="spanDisplay" style="display:none;"> K  </span> </div>
									break;
								default:
									break;
							}
						}

						i++;
					}
			 }
				</div> 
		</div>