@model Windshield.ViewModels.GameDescriptionViewModel

<h2>@Model.game.name</h2>
<hr>
<div class="container-fluid">
	<div class="span4">
		<div class="row-fluid text-center">
			@Html.Partial("_GameImagePartial", Model.game)
		</div>
		<div class="row-fluid text-center">
			<div class="btn-group padding-tb" id="game-description-buttons">
				@Html.ActionLink("Create Game", "NewBoard", "Games", new { gameName = Model.game.name }, new{ @class="btn" })
				<br class="visible-tablet">
				@Html.ActionLink("Find Game", "Boards", "Games", new {name = Model.game.name }, new{ @class="btn" })
			</div>
		</div>
	</div>
	<hr class="visible-phone">
	<div class="span5">
		<h3 class="text-center">Game Description</h3>
		<p class="padding-lr">@Model.game.description</p>
	</div>
	<hr class="visible-phone">
	<div class="span3 text-center">
		@if (User.Identity.IsAuthenticated)
		{
		<h3>Your Statistics</h3>
		<div>
			@Html.Partial("_StatisticsPartial", Model)
		</div>
		}
		else
		{
		<!-- make this a partial view so it can be reused -->
		<h3>Hey, you!</h3>
		<p>Why not log in or register to play this fantastic game!</p>
		<div id="user-bait" class="container-fluid">
			@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-large margin-tb span12" })
			@Html.ActionLink("New User?", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-warning btn-large span12" })
		</div>
		}
	</div>
</div>



