@model Windshield.ViewModels.LobbyViewModel


	<img src="~/Images/board.gif" alt="flott mynd" />
	<h2></h2>
	<div id="game-on-players">
		<h3>Players</h3>
		<ul>
			<li>Hákon</li>
			<li>Hákarl</li>
			
		</ul>
		<!-- TODO: Sækja player-a sem eru búnir að accepta game request -->
	</div>
	<div id="invited-players">
		<h3>Invited Players</h3>
		<ul>
			<li>Dísa</li>
			<li>Skvísa</li>
			<li>Halldóra</li>
		</ul>
		<!-- TODO: Sækja invite-aða player-a sem eru búnir að accepta game request -->
	</div>
	<div id="requests-and-invitations">
		<input type="search" name="user name" />
		<input type="checkbox" name="Private Game" />
	</div>
	<button>START</button>  <!-- TODO: linka á leik -->
	@Html.ActionLink("Start","Index","Games")
	@Html.ActionLink("Start", "TicTacToe", "Games", new { targetId = @Model.boardId }, null)

<script>
	$(document).ready(function () {
		var group = '@Model.boardId';
		var hub = $.connection.gameHub;
		
		hub.client.Start = function (id) {
			self.location = "JoinGame?targetId=" + id;
		}
	});

</script>

	<nav>
		<ul>
			<li>Friends &hearts</li>
			<li>Groups</li>
			<li>Requests</li>
		</ul>
	</nav>
	<div id="chat-wrapper" class="container-fluid span4 visible-desktop">
		@Html.Partial("Chat", Model.boardId)
	</div>