@model Windshield.ViewModels.BoardViewModel

@{
    ViewBag.Title = "Hearts";
}

<script src="@Url.Content("~/Scripts/Hearts.js")" type="text/javascript"></script>

<div class="span12">
			<div id="felt">

			@{
				for(int i = 1 ; i <= 52 ; i++)
				{
					<div id="@i" class="cardback"> <span class="spanDisplay_@i spanDisplay" style="display:inline;"> </span> </div>	
				}
			}
			
			@{  // hidden DOM for the trick cards.
				for(int i = 1; i <= 4 ; i++)
				{
					<div id ="trick_@i"	class="cardback" style="display:none;"> <span class="spanDisplay"> </span> </div>
				}
			}

				</div> 
		</div>

<span id="group-span" style="display:none">@Model.id</span>
<span id="currentUser-span" style="display:none">@(Context.User.Identity.Name)</span>
<span id="playerOne-span" style="display:none">@Model.GetPlayerName(0)</span>
<span id="playerTwo-span" style="display:none">@Model.GetPlayerName(1)</span>
<span id="playerThree-span" style="display:none">@Model.GetPlayerName(2)</span>
<span id="playerFour-span" style="display:none">@Model.GetPlayerName(3)</span>