@model Windshield.Games.TicTacToe.TicTacToe

<style type="text/css">
	table {
		background: #fafafa;
		border: 1px dotted grey;
		}

	td {
		padding: 30px;
		border: 1px dashed lightblue;
		}

</style>

<h2>Tic Tac Toe</h2>

<table id="tictactoe">
	<tbody>
		<tr>
			<td id="cell0">&nbsp;</td>
			<td id="cell1">&nbsp;</td>
			<td id="cell2">&nbsp;</td>
		</tr>
		<tr>
			<td id="cell3">&nbsp;</td>
			<td id="cell4">&nbsp;</td>
			<td id="cell5">&nbsp;</td>
		</tr>
		<tr>
			<td id="cell6">&nbsp;</td>
			<td id="cell7">&nbsp;</td>
			<td id="cell8">&nbsp;</td>
		</tr>
	</tbody>
</table>

<script>
	$(document).ready(function () {
		var group = '@(Model.id)';
		var hub = $.connection.gameHub;
		var currentUser = '@(Context.User.Identity.Name)';
		var playerOne = '@(Model.player1.user.UserName)';
		var playerTwo = '@(Model.player2.user.UserName)';

		var mySymbol;

		hub.client.cellClicked = function (cellId) {
			$("#" + cellId).text('@(Model.player1.symbol)');
		};

		$.connection.hub.start().done(function() {
			hub.server.join(group);

			$("#tictactoe tr td").click(function () {
				hub.server.tryAction(group, this.id, currentUser);
				$(this).text('@(Model.player1.symbol)');
			});
		});
	});

</script>