@model Windshield.Models.Games.TicTacToe.TicTacToe

<div>
<table id="tic-tac-toe" class="table-bordered">
	<tbody>
		<tr>
			<td id="cell0"></td>
			<td id="cell1"></td>
			<td id="cell2"></td>
		</tr>
		<tr>
			<td id="cell3"></td>
			<td id="cell4"></td>
			<td id="cell5"></td>
		</tr>
		<tr>
			<td id="cell6"></td>
			<td id="cell7"></td>
			<td id="cell8"></td>
		</tr>
	</tbody>
</table>

<div id="winner-dialog-popup">


</div>

<div class="ttt-game-score">
	<div id="GameScore">
		Wins: <span id="GameWins">0</span>
		Draws: <span id="GameDraws">0</span>
		Losses: <span id="GameLoss">0</span>
	</div>
	<input type="button" id="GameRestart" class="btn" value="Restart" />
</div>
</div>

<script>
	$(document).ready(function () {
		var group = '@(Model.id)';
		var hub = $.connection.gameHub;
		var currentUser = '@(Context.User.Identity.Name)';
		var playerOne = '@(Model.player1.user.UserName)';
		var playerTwo = '@(Model.player2.user.UserName)';

	//	hub.client.cellClicked = function (cellId) {
			//$("#" + cellId).text(currentUser.symbol);
	//		$("#" + cellId).text('@(Model.player1.symbol)');
//		};

		$("#GameRestart").hide();
		$("#winner-dialog-popup").hide();

		hub.client.Broadcast = function (status) {
			for (var i=0; i<9; i++)
			{
				$("#cell" + i).text(status[i]);
			}
			
			if (currentUser == playerOne) {
				$("#GameWins").text(status[14]);
				$("#GameDraws").text(status[16]);
				$("#GameLoss").text(status[18]);
			}
			else {
				$("#GameWins").text(status[18]);
				$("#GameDraws").text(status[16]);
				$("#GameLoss").text(status[14]);
			}

		};

		hub.client.GameOver = function (winner) {
			if (winner != "") {
				$("#winner-dialog-popup").text(winner + " wins!");
				if (winner == currentUser) {
					$("#GameWins").html(parseInt($("#GameWins").html(), 10) + 1);
				}
				else {
					$("#GameLoss").html(parseInt($("#GameLoss").html(), 10) + 1);
				}
			}
			else {
				$("#winner-dialog-popup").text("It's a draw!");
				$("#GameDraws").html(parseInt($("#GameDraws").html(), 10) + 1);
			}

			$("#winner-dialog-popup").show(2);

			setTimeout(function () {
				$("#winner-dialog-popup").hide();
			}, 3000);

			$("#GameRestart").show();
		}

		$.connection.hub.start().done(function() {
			hub.server.join(group);
			hub.server.gameStarted(group);

			$("#tic-tac-toe tr td").click(function () {
				hub.server.tryAction(group, "insert" + this.id, currentUser);
			});

			$("#GameRestart").click(function () {
				hub.server.tryAction(group, "checkAI", currentUser);
	//			setTimeout(function () { hub.server.refresh(group); }, 1250);
				$("#GameRestart").hide();
			});
		});
	});

</script>