<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BoardGames Inc.</title>
		<!-- Bootstrap -->
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="/Content/Site.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="~/Scripts/bootstrap-fileupload.js"></script>
		<script src="test.js"></script>

		<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
		<script src="~/signalr/hubs"></script>

		@if (IsSectionDefined("Scripts"))
		{
			@RenderSection("Scripts",false);	
		}
		@if (IsSectionDefined("Header"))
		{
			@RenderSection("Header",false);
		}
	</head>

	<body>

		<div id="main" class="span8 offset2 background-white">
			<div class="row-fluid">
				<!-- HEADER -->
				<header id="overview" class="hidden-phone">
					<div class="containter">
						<h1 class="hidden-phone">@Html.ActionLink("BoardGames", "Index", "Home")</h1>
						<h1 class="visible-phone  header-color">
							@Html.ActionLink("Board\nGames", "Index", "Home")
						</h1>
						<p class="lead">For all your gaming needs</p>
					</div>
				</header>

				<!-- NAVIGATION -->
				<!--
				<div class="navbar">
					<ul class="nav nav-pills nav-collapse collapse">
						<li>@Html.ActionLink("Games", "Index", "Home")</li>
						<li>@Html.ActionLink("Statistics", "Statistics", "Home")</li>
						@if (User.Identity.IsAuthenticated)
						{
						<li>@Html.ActionLink("My Games", "MyGames", "Home")</li>
						<li>@Html.ActionLink("CARDS", "DisplayCard", "Home")</li>
						}
					</ul>
					<ul class="nav nav-pills nav-collapse collapse pull-right">
					@if (Request.IsAuthenticated)
					{
						<li>
							@Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "ChangePassword" })
						</li>
						<li>
							<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
						</li>
					}
					else
					{
						<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
						<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
					}
					</ul>
				</div>
				-->

				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								Menu
							</a>
							@Html.ActionLink("GameBoards", "Index", "Home", new { @class="brand hidden-desktop" })
							<div class="nav-collapse collapse">
								<ul class="nav nav-pills">
									<li class="active">
										<a href="#">Entry1</a>
									</li>
									<li>
										<a href="#">Entry1</a>
									</li>
									<li>
										<a href="#">Entry1</a>
									</li>
									<li>
										<a href="#">Entry1</a>
									</li>
								</ul>
								<ul class="nav nav-pills pull-right">
								@if (Request.IsAuthenticated)
								{
									<li>
										@Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username" })
									</li>
									<li>
										<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
									</li>
								}
								else
								{
									<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
									<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
								}
								</ul>
							</div>
						</div>
					</div>
				</div>


				<!-- CONTENT -->

				<div class="container-fluid background-white">
					@RenderBody()
				</div>

			</div> <!-- class="row-fluid" -->
			
			<!-- space between main content and footer -->

			<div class="row-fluid">

			</div>

		</div> <!-- id="main" class="span8 offset2 background-white" -->

		<!-- FOOTER -->

		<div class="footer span8 offset2 background-white">
			<div class="well pagination-centered">
				@Html.ActionLink("About", "About", "Home")
			</div>
		</div>

		<!-- LOGOUT FORM -->

		@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "active", style="display: none;" })) {
			@Html.AntiForgeryToken()
		}

		<!-- SCRIPTS -->

		<!-- COMING SOON -->

</body>
</html>

