@model Windshield.ViewModels.BoardViewModel

@{
    ViewBag.Title = "Hearts";
}

<script src="@Url.Content("~/Scripts/Hearts.js")" type="text/javascript"></script>

<div class="span12">
			<div id="felt">

			@{
				for(int i = 1 ; i <= 52 ; i++)
				{
					<div id="@i" class="cardback">  </div>	
				}
			}
			
			@{  // hidden DOM for the trick cards.
				for(int i = 1; i <= 4 ; i++)
				{
					<div id ="trick_@i"	class="cardback" style="display:none;">  </div>
				}
			}

				</div> 
		</div>

<div class="hearts-game-score">
	<div id="GameScore">
		@Model.GetPlayerName(0) Points: <span id="playerPoints">0</span>
		@Model.GetPlayerName(1) Points: <span id="leftPoints">0</span>
		@Model.GetPlayerName(2) Points: <span id="topPoints">0</span>
		@Model.GetPlayerName(3) Points: <span id="rightPoints">0</span>
	</div>
	<input type="button" id="GameRestart" class="btn" value="Restart" />
</div>

<span id="group-span" style="display:none">@Model.id</span>
<span id="currentUser-span" style="display:none">@(Context.User.Identity.Name)</span>
<span id="playerOne-span" style="display:none">@Model.GetPlayerName(0)</span>
<span id="playerTwo-span" style="display:none">@Model.GetPlayerName(1)</span>
<span id="playerThree-span" style="display:none">@Model.GetPlayerName(2)</span>
<span id="playerFour-span" style="display:none">@Model.GetPlayerName(3)</span>