@model Windshield.ViewModels.BoardViewModel

@{
    ViewBag.Title = "Hearts";
}

<script src="@Url.Content("~/Scripts/Hearts.js")" type="text/javascript"></script>

<div class="span12">
			<div id="felt">

			@{
				for(int i = 1 ; i <= 52 ; i++)
				{
					<div id="@i" class="cardback">  </div>	
				}
			}
			
			@{  // hidden DOM for the trick cards.
				for(int i = 1; i <= 4 ; i++)
				{
					<div id ="trick_@i"	class="cardback" style="display:none;">  </div>
				}
			}

				</div> 
		</div>

<div class="hearts-game-score span12 margin-tb text-center alert alert-info">
	<div class="row-fluid"><strong>Points:</strong></div>
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span2">@Model.GetPlayerName(0)</div>
		<div class="span2">@Model.GetPlayerName(1)</div>
		<div class="span2">@Model.GetPlayerName(2)</div>
		<div class="span2">@Model.GetPlayerName(3)</div>
	</div>
	<div class="row-fluid">
		<div class="span2"><strong>Match:</strong></div>
		<div id="playerPoints" class="span2">0</div>
		<div id="leftPoints" class="span2">0</div>
		<div id="topPoints" class="span2">0</div>
		<div id="rightPoints" class="span2">0</div>
	</div>
	<div class="row-fluid">
		<div class="span2"><strong>Total:</strong></div>
		<div id="gPlayerPoints" class="span2">0</div>
		<div id="gLeftPoints" class="span2">0</div>
		<div id="gTopPoints" class="span2">0</div>
		<div id="gRightPoints" class="span2">0</div>
	</div>
	<input type="button" id="GameRestart" class="btn" value="Restart" />
</div>

<div>
	<strong id="winner-dialog-popup"></strong>

</div>

<span id="group-span" style="display:none">@Model.id</span>
<span id="currentUser-span" style="display:none">@(Context.User.Identity.Name)</span>
<span id="playerOne-span" style="display:none">@Model.GetPlayerName(0)</span>
<span id="playerTwo-span" style="display:none">@Model.GetPlayerName(1)</span>
<span id="playerThree-span" style="display:none">@Model.GetPlayerName(2)</span>
<span id="playerFour-span" style="display:none">@Model.GetPlayerName(3)</span>