@model Windshield.Models.ChangePasswordModel


@using (Html.BeginForm("ChangePassword", "Account")) 
{
<form class="form-horizontal">
    @Html.AntiForgeryToken()

    <fieldset>
		<legend>Change Password</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.OldPassword)
			</div>
			<div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.NewPassword)
			</div>
			<div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.ConfirmPassword)
			</div>
			<div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
		<div class="control-group">
			<input type="submit" class="btn" value="Change password" />
			<button class="btn"><a href="@Html.ActionLink("Home", "About", "Home")"></a>Cancel</button>
		</div>
    </fieldset>
	</form>
}
