@model Windshield.ViewModels.AccountChangeUserDetailsViewModel


@using (Html.BeginForm("ChangeUserDetail", "Account")) 
{
<form class="form-horizontal">
	@Html.AntiForgeryToken()
	@Html.Partial("_ValidationSummaryPartial", ViewData.ModelState)

    <fieldset>
        <legend>Change Profile Form</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.name)
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.name, new { Value = Model.currentUserModel.UserDetail.name })
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.email)
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.email, new { Value = Model.currentUserModel.UserDetail.email })
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.gender)
			</div>
			<div class="controls">
                @Html.DropDownListFor(m => m.changeUserDetailsModel.gender, new SelectList(new List<Object> { new { Value = true , text = "KK" }, new { Value = false, text = "KVK" } }, "Value", "text", Model.currentUserModel.UserDetail.gender))
            </div>
            <div class="control-label">
				@Html.LabelFor(m => m.changeUserDetailsModel.age)
			</div>
			<div class="controls">
				@Html.TextBoxFor(m => m.changeUserDetailsModel.age, new { Value = Model.currentUserModel.UserDetail.age })
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.country)
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.country, new { Value = Model.currentUserModel.UserDetail.country })
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.occupation)
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.occupation, new { Value = Model.currentUserModel.UserDetail.occupation })
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.dateJoined)
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.dateJoined, new { Value = Model.currentUserModel.UserDetail.dateJoined, @readonly="readonly" })
            </div>
            <div class="control-label">
                @Html.LabelFor(m => m.changeUserDetailsModel.userRating)
			</div>
			<div class="controls">
                @Html.TextBoxFor(m => m.changeUserDetailsModel.userRating, new { Value = Model.currentUserModel.UserDetail.userRating, @readonly="readonly"  })
            </div>
        </div>
		<div class="control-group">
			<input type="submit" class="btn" value="Change user details" />
			<button class="btn"><a href="@Html.ActionLink("Home", "About", "Home")"></a>Cancel</button>
		</div>
    </fieldset>
	</form>
}
