@model Windshield.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}



@using (Html.BeginForm())
{
<form class="form-horizontal">
	<legend>
	Log In
	</legend>

	<p>
		Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.
	</p>

		@Html.ValidationSummary()
		<div class="control-group">
			<div class= "control-label">
				@Html.LabelFor(m => m.UserName)
			</div>
			<div class= "controls">
				@Html.TextBoxFor(m => m.UserName)
			</div>
			<div class= "control-label">
				@Html.LabelFor(m => m.Password)
			</div>
			<div class= "controls">
				@Html.PasswordFor(m => m.Password)            
			</div>
		</div>
		<div class = "control-group">
			<div class="controls">
				<label class="checkbox">
					@Html.CheckBoxFor(m => m.RememberMe)
					Remember Me?
				</label>
			</div>
			<input type="submit" class="btn" value="Log in" />
				<div class= "btn">
					@Html.ActionLink("Cancel", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
				</div>
		</div>


</form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}	