@model Windshield.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<p>
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm()) 
{
	<form class="form-horizontal">
	<legend>
		Register
	</legend>
		<p> Username cannot contain "- / - , . | " nor start with Computer </p>
	
	
    @Html.Partial("_ValidationSummaryPartial", ViewData.ModelState)
	<div class="control-group">
		<div class="control-label">
            @Html.LabelFor(m => m.UserName)
		</div>
		<div class="controls">
            @Html.TextBoxFor(m => m.UserName)    
		</div>        
		<div class="control-label">
            @Html.LabelFor(m => m.Email)
		</div>
		<div class="controls">
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password)
		</div>
		<div class="controls">
            @Html.PasswordFor(m => m.Password)            
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword)
		</div>
		<div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword)            
        </div>
	</div>

    <div class="control-group">
		<input type="submit" class="btn" value="Register" />
		<input type="reset" class="btn" value="Clear" />
    </div>
	</form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}