<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BoardGames Inc.</title>
		<link rel="SHORTCUT ICON" href="/Images/favicon.png"/>
		
		<!-- Bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="/Content/Site.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery.js"></script> 
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script> 
		<script src="~/Scripts/bootstrap-fileupload.js"></script>
		<script src="~/Scripts/bootstrap-rowlink.js"></script>
		<script src="test.js"></script>

		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
		<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
		<script src="~/signalr/hubs"></script> 

		@if (IsSectionDefined("Scripts"))
		{
			@RenderSection("Scripts",false);	
		}
		@if (IsSectionDefined("Header"))
		{
			@RenderSection("Header",false);
		}
	</head>

	<body>

		<div id="main" class="container background-white">
			<div class="row-fluid">

				<!-- HEADER -->

				<header id="overview" class="visible-desktop">
					<div class="containter">
						<h1 class="hidden-phone">@Html.ActionLink("BoardGames", "Index", "Home")</h1>
						<div class="visible-phone  header-color">
							<h1>@Html.ActionLink("Board\nGames", "Index", "Home")</h1>
						</div>
						<p class="lead">For all your gaming needs</p>
					</div>
				</header>

				<!-- NAVIGATION -->

				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<div class="container">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							@Html.ActionLink("GameBoards", "Index", new { controller = "Home" }, new { @class = "brand hidden-desktop" })
							<div class="nav-collapse navbar-responsive-collapse collapse">
								<ul class="nav">
									<li>@Html.ActionLink("Games", "Index", "Home")</li>
									<li>@Html.ActionLink("Statistics", "Statistics", "Home")</li>
									@if (User.Identity.IsAuthenticated)
									{
									<li>@Html.ActionLink("My Boards", "MyBoards", "Games")</li>
									<li>@Html.ActionLink("CARDS", "DisplayCard", "Home")</li>
									}
								</ul>
								<ul class="nav pull-right">
									
									@if (Request.IsAuthenticated)
									{
									<li>
										@Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username" })
									</li>
									<li>
										<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
									</li>
									}
									else
									{
									<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
									<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
									}
								</ul>
							</div>
							<!-- /.nav-collapse -->
						</div>
					</div>
					<!-- /navbar-inner -->
				</div>

				<!-- CONTENT -->
				
				<div class="container-fluid background-white">
					<div class="span10 offset1 container-fluid">@RenderBody()</div>
				</div>

			</div> <!-- class="row-fluid" -->
			

		</div> <!-- id="main" class="container background-white" -->

		<!-- FOOTER -->

		<div class="container footer background-white">
			<div class="well pagination-centered">
				@Html.ActionLink("About", "About", "Home")<br>
				<a href="mailto:ragnart11@ru.is">Contact Us</a>		
			</div>
		</div>
		
		<!-- LOGOUT FORM -->

		@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "active", style="display: none;" })) {
			@Html.AntiForgeryToken()
		}

		<!-- SCRIPTS -->

		<!-- COMING SOON -->

</body>
</html>

