@model Windshield.Models.Game

<h2>@Model.name</h2>
@Html.Partial("_GameImagePartial", Model)
<h3>Game Description</h3>
<p>@Model.description</p>
<h3>Your Statistics</h3>
<!-- TODO: check how ASPNET user tables work -->
<button>@Html.ActionLink("Create Game", "NewBoard", "Games", new { gameName = Model.name }, null)</button>
<button>@Html.ActionLink("Find Game", "Boards", "Games", new {name = Model.name }, null)</button>

@